---
import type { Collection } from '../content.config';
import { buildPath } from '../utils/navigation.ts';
import Icon from './Icon.astro';

interface Props {
    post: Collection<'blog'>;
}
const { post } = Astro.props;
---

<a href={buildPath(`/blog/${post.id}`)}>
    <div
        class='card shadow-2xl bg-base-100 h-[stretch] border border-transparent hover:border-primary transition-all duration-200'>
        <div class='card-body p-4 text-left'>
            <div class='flex items-center gap-1'>
                <Icon name='calendar-date-range' />
                <p class='text-xs'>
                    {post.data.creationDate.toLocaleDateString()}
                </p>
            </div>
            <h2 class='card-title text-primary'>{post.data.title}</h2>
            <p class='line-clamp-4'>{post.data.description}</p>
            {
                post.data.tags && post.data.tags.length > 0 && (
                    <div class='card-actions'>
                        {post.data.tags.map((tag) => (
                            <div class='badge badge-outline badge-soft'>
                                {tag}
                            </div>
                        ))}
                    </div>
                )
            }
        </div>
    </div>
</a>
