---
export type LinkType = 'email' | 'phone' | 'link';

interface Props {
    value: string;
    type?: LinkType;
    label?: string;
    class?: string;
}
const { label, value, type, class: className } = Astro.props;

const finalValue = label || value;

const html = await Astro.slots.render('default');

const classes = html ? '' : `link ${className || ''}`;
---

{
    (() => {
        switch (type) {
            case 'email':
                return (
                    <a href={`mailto:${value}`} class={classes}>
                        {html ? <Fragment set:html={html} /> : finalValue}
                    </a>
                );
            case 'phone':
                return (
                    <a href={`tel:${value}`} class={classes}>
                        {html ? <Fragment set:html={html} /> : finalValue}
                    </a>
                );
            default:
                return (
                    <a
                        href={value}
                        class={classes}
                        target='_blank'
                        rel='noopener noreferrer'>
                        {html ? <Fragment set:html={html} /> : finalValue}
                    </a>
                );
        }
    })()
}
