---
import Card from '@components/Card.astro';
import type { LinkType } from '@components/Link.astro';
import Link from '@components/Link.astro';
import Section from '@components/Section.astro';

const contactMethods: {
    label: string;
    value: string;
    icon: string;
    type: LinkType | 'plain';
    linkLabel?: string;
}[] = [
    {
        label: 'Email',
        value: 'aeringuelet@gmail.com',
        icon: 'envelope',
        type: 'email'
    },
    {
        label: 'LinkedIn',
        value: 'https://www.linkedin.com/in/ae-ringuelet/',
        linkLabel: 'AE Ringuelet',
        icon: 'linkedin-logo',
        type: 'link'
    },
    {
        label: 'Location',
        value: 'Based in Barcelona, available worldwide',
        icon: 'globe-alt',
        type: 'plain'
    }
];
---

<Section
    sectionName='contact'
    title='Get in Touch'
    subtitle="If you'd like to reach out, feel free to contact me through the following methods"
    class='bg-base-100'>
    <div class='grid lg:grid-cols-3 grid-cols-1 gap-4 mb-4'>
        {
            contactMethods.map((method) => {
                return method.type === 'plain' ? (
                    <Card
                        title={method.label}
                        class='bg-base-300 hover:scale-102 transition-transform duration-150'
                        icon={method.icon}
                        content='center'>
                        <p class='text-center'>{method.value}</p>
                    </Card>
                ) : (
                    <Link
                        value={method.value}
                        type={method.type}
                        label={method.linkLabel}>
                        <Card
                            title={method.label}
                            class='bg-base-300 hover:scale-102 transition-transform duration-150'
                            icon={method.icon}
                            content='center'>
                            <p class='text-center'>
                                {method.linkLabel || method.value}
                            </p>
                        </Card>
                    </Link>
                );
            })
        }
    </div>
</Section>
