---
import Badge from '@components/Badge.astro';
import BlogNavbar from '@components/blog/navigation/BlogNavbar.astro';
import Button from '@components/Button.astro';
import Footer from '@components/Footer.astro';
import Icon from '@components/Icon.astro';
import { formatLongDate } from '@utils/date';
import { buildPath } from '@utils/navigation';
import BaseLayout from './BaseLayout.astro';

interface Props {
    title: string;
    date: string;
    description?: string;
    author?: string;
    tags?: string[];
}
const { title, date, description, tags } = Astro.props;

const formattedDate = formatLongDate(new Date(date));
---

<BaseLayout pageTitle={title}>
    <BlogNavbar />
    <div class='flex justify-center lg:mx-72 mx-6 flex-col lg:max-w-6xl pt-4'>
        <div class='flex flex-col gap-4'>
            <Button
                href={buildPath('/blog')}
                class='btn-ghost pl-0 dark:hover:text-primary dark:text-white hover:text-secondary hover:bg-transparent hover:border-transparent hover:shadow-none'
                type='link'>← Back to Blog</Button
            >
            <div class='flex items-center gap-2'>
                <Icon name='calendar-date-range' class='text-lg' />
                <time class='italic text-sm'>{formattedDate}</time>
            </div>
            <h1 class='text-5xl font-bold dark:text-white'>
                {title}
            </h1>
            {description && <p class='text-xl'>{description}</p>}
            {
                tags && (
                    <div class='flex gap-2'>
                        {tags.map((tag) => (
                            <Badge class='dark:badge-soft dark:badge-primary badge-secondary'>
                                {tag}
                            </Badge>
                        ))}
                    </div>
                )
            }
        </div>
        <div class='divider mt-8 mb-0'></div>
        <article>
            <slot />
        </article>
    </div>
    <Footer class='bg-base-100' />
</BaseLayout>
